.logo {
    display: block;
    margin: auto;
    width: 10%;
    justify-content: center;
  }
  .container {
    max-width: 70%;
  
    margin: auto;
  }
  .message{
      background-color: brown;
    /* height: 10vh; */
  }
  .left {
    padding: 10px;
    background-color: yellow;
    float: left;
    clear: both;
    border-radius: 10px;
  }
  .right {
    padding: 10px;
    background-color: blue;
    float: right;
    clear: both;
    color: white;
    border-radius: 10px;
  }
  #sendcontainer{
      text-align: center;
      margin: auto;
  }
  